In [36]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm

In [37]:
rev=pd.read_csv("C:\\Users\\HP\\Desktop\\Course\\Datas\\advt_revenue.csv")
rev

    Serial  CTRP       P        R
0        1   133  111600  1197576
1        2   111  104400  1053648
2        3   129   97200  1124172
3        4   117   79200   987144
4        5   130  126000  1283616
5        6   154  108000  1295100
6        7   149  147600  1407444
7        8    90  104400   922416
8        9   118  169200  1272012
9       10   131   75600  1064856
10      11   141  133200  1269960
11      12   119  133200  1064760
12      13   115  176400  1207488
13      14   102  180000  1186284
14      15   129  133200  1231464
15      16   144  147600  1296708
16      17   153  122400  1320648
17      18    96  158400  1102704
18      19   104  165600  1184316
19      20   156  104400  1326360
20      21   119  136800  1162596
21      22   125  115200  1195116
22      23   130  115200  1134768
23      24   123  151200  1269024
24      25   128   97200  1118688
25      26    97  122400   904776
26      27   124  208800  1357644
27      28   138   93600  1027308
28      29   137  115200  1181976
29      30   129  118800  1221636
30      31    97  129600  1060452
31      32   133  100800  1229028
32      33   145  147600  1406196
33      34   149  126000  1293936
34      35   122  108000  1056384
35      36   120  194400  1415316
36      37   128  176400  1338060
37      38   117  172800  1457400

In [38]:
rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Serial  38 non-null     int64
 1   CTRP    38 non-null     int64
 2   P       38 non-null     int64
 3   R       38 non-null     int64
dtypes: int64(4)
memory usage: 1.3 KB

In [39]:
rev.head(5)

   Serial  CTRP       P        R
0       1   133  111600  1197576
1       2   111  104400  1053648
2       3   129   97200  1124172
3       4   117   79200   987144
4       5   130  126000  1283616

In [40]:
X=rev[['CTRP','P']]
X

    CTRP       P
0    133  111600
1    111  104400
2    129   97200
3    117   79200
4    130  126000
5    154  108000
6    149  147600
7     90  104400
8    118  169200
9    131   75600
10   141  133200
11   119  133200
12   115  176400
13   102  180000
14   129  133200
15   144  147600
16   153  122400
17    96  158400
18   104  165600
19   156  104400
20   119  136800
21   125  115200
22   130  115200
23   123  151200
24   128   97200
25    97  122400
26   124  208800
27   138   93600
28   137  115200
29   129  118800
30    97  129600
31   133  100800
32   145  147600
33   149  126000
34   122  108000
35   120  194400
36   128  176400
37   117  172800

In [41]:
y=rev['R']
y

0     1197576
1     1053648
2     1124172
3      987144
4     1283616
5     1295100
6     1407444
7      922416
8     1272012
9     1064856
10    1269960
11    1064760
12    1207488
13    1186284
14    1231464
15    1296708
16    1320648
17    1102704
18    1184316
19    1326360
20    1162596
21    1195116
22    1134768
23    1269024
24    1118688
25     904776
26    1357644
27    1027308
28    1181976
29    1221636
30    1060452
31    1229028
32    1406196
33    1293936
34    1056384
35    1415316
36    1338060
37    1457400
Name: R, dtype: int64

In [42]:
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [43]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 41008.84034844907
Coefficients:
 [5.93185012e+03 3.13614043e+00]

In [44]:
x = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, x).fit()
predictions = model.predict(x) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      R   R-squared:                       0.832
Model:                            OLS   Adj. R-squared:                  0.822
Method:                 Least Squares   F-statistic:                     86.62
Date:                Thu, 30 Nov 2023   Prob (F-statistic):           2.79e-14
Time:                        11:05:49   Log-Likelihood:                -468.85
No. Observations:                  38   AIC:                             943.7
Df Residuals:                      35   BIC:                             948.6
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.101e+04    9.1e+04      0.451      0.655   -1.44e+05    2.26e+05
CTRP        5931.8501    576.622     10.287      0.000    4761.245    7102.455
P              3.1361      0.303     10.344      0.000       2.521       3.752
==============================================================================
Omnibus:                        5.672   Durbin-Watson:                   1.212
Prob(Omnibus):                  0.059   Jarque-Bera (JB):                5.693
Skew:                           0.375   Prob(JB):                       0.0581
Kurtosis:                       4.741   Cond. No.                     1.32e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [45]:
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split

In [46]:
mlrX=x
mlrX

    const  CTRP       P
0     1.0   133  111600
1     1.0   111  104400
2     1.0   129   97200
3     1.0   117   79200
4     1.0   130  126000
5     1.0   154  108000
6     1.0   149  147600
7     1.0    90  104400
8     1.0   118  169200
9     1.0   131   75600
10    1.0   141  133200
11    1.0   119  133200
12    1.0   115  176400
13    1.0   102  180000
14    1.0   129  133200
15    1.0   144  147600
16    1.0   153  122400
17    1.0    96  158400
18    1.0   104  165600
19    1.0   156  104400
20    1.0   119  136800
21    1.0   125  115200
22    1.0   130  115200
23    1.0   123  151200
24    1.0   128   97200
25    1.0    97  122400
26    1.0   124  208800
27    1.0   138   93600
28    1.0   137  115200
29    1.0   129  118800
30    1.0    97  129600
31    1.0   133  100800
32    1.0   145  147600
33    1.0   149  126000
34    1.0   122  108000
35    1.0   120  194400
36    1.0   128  176400
37    1.0   117  172800

In [47]:
mlrY=rev['R']
mlrY

0     1197576
1     1053648
2     1124172
3      987144
4     1283616
5     1295100
6     1407444
7      922416
8     1272012
9     1064856
10    1269960
11    1064760
12    1207488
13    1186284
14    1231464
15    1296708
16    1320648
17    1102704
18    1184316
19    1326360
20    1162596
21    1195116
22    1134768
23    1269024
24    1118688
25     904776
26    1357644
27    1027308
28    1181976
29    1221636
30    1060452
31    1229028
32    1406196
33    1293936
34    1056384
35    1415316
36    1338060
37    1457400
Name: R, dtype: int64

In [48]:
MLRtrain_X, MLRtest_X, MLRtrain_Y, MLRtest_Y=train_test_split(mlrX,mlrY, train_size=0.8,random_state=42)

In [49]:
MLRpredict_y=model.predict(MLRtest_X[MLRtrain_X.columns])
MLRpredict_y

33    1.320008e+06
36    1.353501e+06
4     1.207303e+06
13    1.210563e+06
30    1.022842e+06
26    1.431384e+06
6     1.387749e+06
27    1.153147e+06
dtype: float64

In [50]:
import numpy as np

In [51]:
np.abs(mean_absolute_percentage_error(MLRtest_Y, MLRpredict_y))

0.042234418707155955