In [1]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm

In [2]:
cook=pd.read_csv("C:\\Users\\HP\\Desktop\\Course\\Datas\\Cookingrange.csv")
cook

,Sales,CompPrice,Income,Promotion,Population,Price,Display,Age,Education,Urban,Region
0,95,1380,73,11,276,1200,Back,42,17,Urban,North
1,112,1110,48,16,260,830,Front,65,10,Urban,North
2,101,1130,35,10,269,800,Middle,59,12,Urban,North
3,74,1170,100,4,466,970,Middle,55,14,Urban,North
4,42,1410,64,3,340,1280,Back,38,13,Urban,South
...,...,...,...,...,...,...,...,...,...,...,...
395,126,1380,108,17,203,1280,Front,33,14,Urban,North
396,61,1390,23,3,37,1200,Middle,55,11,Rural,North
397,74,1620,26,12,368,1590,Middle,40,18,Urban,North
398,59,1000,79,7,284,950,Back,50,12,Urban,North
399,97,1340,37,0,27,1200,Front,49,16,Urban,North

In [3]:
cook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sales       400 non-null    int64
 1   CompPrice   400 non-null    int64
 2   Income      400 non-null    int64
 3   Promotion   400 non-null    int64
 4   Population  400 non-null    int64
 5   Price       400 non-null    int64
 6   Display     400 non-null    object
 7   Age         400 non-null    int64
 8   Education   400 non-null    int64
 9   Urban       400 non-null    object
 10  Region      400 non-null    object
dtypes: int64(8), object(3)
memory usage: 34.5+ KB

In [4]:
cook.head(5)

,Sales,CompPrice,Income,Promotion,Population,Price,Display,Age,Education,Urban,Region
0,95,1380,73,11,276,1200,Back,42,17,Urban,North
1,112,1110,48,16,260,830,Front,65,10,Urban,North
2,101,1130,35,10,269,800,Middle,59,12,Urban,North
3,74,1170,100,4,466,970,Middle,55,14,Urban,North
4,42,1410,64,3,340,1280,Back,38,13,Urban,South

In [6]:
X=cook[['CompPrice','Income','Promotion','Population','Price','Age','Education',]]
X

     CompPrice  Income  Promotion  Population  Price  Age  Education
0         1380      73         11         276   1200   42         17
1         1110      48         16         260    830   65         10
2         1130      35         10         269    800   59         12
3         1170     100          4         466    970   55         14
4         1410      64          3         340   1280   38         13
..         ...     ...        ...         ...    ...  ...        ...
395       1380     108         17         203   1280   33         14
396       1390      23          3          37   1200   55         11
397       1620      26         12         368   1590   40         18
398       1000      79          7         284    950   50         12
399       1340      37          0          27   1200   49         16

[400 rows x 7 columns]

In [7]:
y=cook['Sales']
y

0       95
1      112
2      101
3       74
4       42
      ...
395    126
396     61
397     74
398     59
399     97
Name: Sales, Length: 400, dtype: int64

In [8]:
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [9]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 77.20797032797243
Coefficients:
 [ 9.38321562e-02  1.28713206e-01  1.30738456e+00 -1.19662833e-03
 -9.25100140e-02 -4.50115444e-01 -3.99184496e-01]

In [10]:
x = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, x).fit()
predictions = model.predict(x) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.541
Model:                            OLS   Adj. R-squared:                  0.533
Method:                 Least Squares   F-statistic:                     66.10
Date:                Thu, 30 Nov 2023   Prob (F-statistic):           1.61e-62
Time:                        10:34:00   Log-Likelihood:                -1747.5
No. Observations:                 400   AIC:                             3511.
Df Residuals:                     392   BIC:                             3543.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         77.2080     11.181      6.905      0.000      55.225      99.191
CompPrice      0.0938      0.008     11.964      0.000       0.078       0.109
Income         0.1287      0.035      3.702      0.000       0.060       0.197
Promotion      1.3074      0.151      8.642      0.000       1.010       1.605
Population    -0.0012      0.007     -0.174      0.862      -0.015       0.012
Price         -0.0925      0.005    -18.303      0.000      -0.102      -0.083
Age           -0.4501      0.060     -7.488      0.000      -0.568      -0.332
Education     -0.3992      0.371     -1.075      0.283      -1.129       0.331
==============================================================================
Omnibus:                        8.424   Durbin-Watson:                   1.966
Prob(Omnibus):                  0.015   Jarque-Bera (JB):                7.824
Skew:                           0.290   Prob(JB):                       0.0200
Kurtosis:                       2.634   Cond. No.                     2.02e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [11]:
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split

In [12]:
mlrX=x
mlrX

     const  CompPrice  Income  Promotion  Population  Price  Age  Education
0      1.0       1380      73         11         276   1200   42         17
1      1.0       1110      48         16         260    830   65         10
2      1.0       1130      35         10         269    800   59         12
3      1.0       1170     100          4         466    970   55         14
4      1.0       1410      64          3         340   1280   38         13
..     ...        ...     ...        ...         ...    ...  ...        ...
395    1.0       1380     108         17         203   1280   33         14
396    1.0       1390      23          3          37   1200   55         11
397    1.0       1620      26         12         368   1590   40         18
398    1.0       1000      79          7         284    950   50         12
399    1.0       1340      37          0          27   1200   49         16

[400 rows x 8 columns]

In [13]:
mlrY=cook['Sales']
mlrY

0       95
1      112
2      101
3       74
4       42
      ...
395    126
396     61
397     74
398     59
399     97
Name: Sales, Length: 400, dtype: int64

In [14]:
MLRtrain_X, MLRtest_X, MLRtrain_Y, MLRtest_Y=train_test_split(mlrX,mlrY, train_size=0.8,random_state=42)

In [15]:
MLRpredict_y=model.predict(MLRtest_X[MLRtrain_X.columns])
MLRpredict_y

209     63.998774
280     53.207280
33      58.378856
210     61.431654
93      89.292918
          ...
246     97.290547
227     78.989780
369    110.306167
176     63.648861
289     82.990673
Length: 80, dtype: float64

In [16]:
import numpy as np

In [17]:
np.abs(mean_absolute_percentage_error(MLRtest_Y, MLRpredict_y))

0.2638774006569752