In [7]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [8]:
ipl_auction_df = pd.read_csv("C:\\Users\\HP\\Desktop\\Course\\Datas\\IPL.csv")

In [9]:
ipl_auction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [10]:
ipl_auction_df.iloc[0:2, 0:10]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41

In [11]:
ipl_auction_df.iloc[0:2, 13:]

,RUNS-S,HS,AVE,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,0,0,0.0,0.0,0,307,15,20.47,8.9,13.93,2009,50000,50000
1,0,0,0.0,0.0,0,29,0,0.00,14.5,0.00,2008,50000,50000

In [12]:
X_features = ipl_auction_df.columns

In [13]:
X_features = ['AGE', 'COUNTRY', 'PLAYING ROLE',
'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B',
'ODI-WKTS', 'ODI-SR-BL', 'CAPTAINCY EXP', 'RUNS-S',
'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS',
'AVE-BL', 'ECON', 'SR-BL']

In [14]:
ipl_auction_df['PLAYING ROLE'].unique()

array(['Allrounder', 'Bowler', 'Batsman', 'W. Keeper'], dtype=object)

In [15]:
pd.get_dummies(ipl_auction_df['PLAYING ROLE'])[0:5]

   Allrounder  Batsman  Bowler  W. Keeper
0        True    False   False      False
1       False    False    True      False
2       False    False    True      False
3       False    False    True      False
4       False     True   False      False

In [16]:
categorical_features = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP']

In [17]:
ipl_auction_encoded_df = pd.get_dummies( ipl_auction_df[X_features],
columns = categorical_features,
drop_first = True )

In [18]:
ipl_auction_encoded_df.columns

Index(['T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL',
       'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL',
       'ECON', 'SR-BL', 'AGE_2', 'AGE_3', 'COUNTRY_BAN', 'COUNTRY_ENG',
       'COUNTRY_IND', 'COUNTRY_NZ', 'COUNTRY_PAK', 'COUNTRY_SA', 'COUNTRY_SL',
       'COUNTRY_WI', 'COUNTRY_ZIM', 'PLAYING ROLE_Batsman',
       'PLAYING ROLE_Bowler', 'PLAYING ROLE_W. Keeper', 'CAPTAINCY EXP_1'],
      dtype='object')

In [34]:
X = sm.add_constant( ipl_auction_encoded_df )
X

,const,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
0,1.0,0,0,0,0.00,0,0.0,0,0,0.00,...,False,False,True,False,False,False,False,False,False,False
1,1.0,214,18,657,71.41,185,37.6,0,0,0.00,...,False,False,False,False,False,False,False,True,False,False
2,1.0,571,58,1269,80.62,288,32.9,167,39,18.56,...,False,False,False,False,False,False,False,True,False,False
3,1.0,284,31,241,84.56,51,36.8,58,11,5.80,...,False,False,False,False,False,False,False,True,False,False
4,1.0,63,0,79,45.93,0,0.0,1317,71,32.93,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1.0,0,0,0,0.00,0,0.0,49,16,9.80,...,False,False,False,False,False,False,True,False,False,False
126,1.0,6398,7,6814,75.78,3,86.6,3,3,3.00,...,False,True,False,False,False,False,True,False,False,True
127,1.0,1775,9,8051,87.58,109,44.3,1237,66,26.32,...,False,False,False,False,False,False,True,False,False,True
128,1.0,1114,288,790,73.55,278,35.4,99,23,9.90,...,False,False,False,False,False,False,False,True,False,False
129,1.0,288,64,343,95.81,108,39.4,11,10,11.00,...,False,False,False,True,False,False,False,True,False,False

In [36]:
y = ipl_auction_df['SOLD PRICE']
y

0        50000
1        50000
2       350000
3       850000
4       800000
        ...
125     750000
126     225000
127    1800000
128     450000
129     110000
Name: SOLD PRICE, Length: 130, dtype: int64

In [37]:
train_X, test_X, train_y, test_y = train_test_split( X , y, train_size = 0.8,random_state = 85)

In [38]:
mlrX=sm.add_constant(ipl_auction_encoded_df)
mlrY=ipl_auction_df['SOLD PRICE']

In [39]:
MLRtrain_X, MLRtest_X, MLRtrain_Y, MLRtest_Y=train_test_split(mlrX,mlrY, train_size=0.8,random_state=42)

In [40]:
# Convert data to NumPy arrays
X = sm.add_constant(MLRtrain_X.values)  # Add a constant term for the intercept
y = MLRtrain_Y.values

In [27]:
print(X.dtype)
print(y.dtype)

object
int64

In [41]:
X = X.astype(float)
y = y.astype(float)

In [43]:
print(np.isnan(X).sum())
print(np.isnan(y).sum())

X[np.isnan(X)] = 0  # Replace NaN with 0 or another appropriate value
y[np.isnan(y)] = 0

print(np.isfinite(X).sum())
print(np.isfinite(y).sum())

0
0
3328
104

In [44]:
ipl_model_1= sm.OLS(y, X).fit()
ipl_model_1.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                    Results: Ordinary least squares
=======================================================================
Model:                OLS               Adj. R-squared:      0.362
Dependent Variable:   y                 AIC:                 2965.2841
Date:                 2023-12-06 12:23  BIC:                 3049.9046
No. Observations:     104               Log-Likelihood:      -1450.6
Df Model:             31                F-statistic:         2.883
Df Residuals:         72                Prob (F-statistic):  0.000114
R-squared:            0.554             Scale:               1.1034e+11
-----------------------------------------------------------------------
         Coef.       Std.Err.     t    P>|t|     [0.025       0.975]
-----------------------------------------------------------------------
const  375827.1991 228849.9306  1.6422 0.1049  -80376.7996  832031.1978
x1        -53.7890     32.7172 -1.6441 0.1045    -119.0096      11.4316
x2       -132.5967    609.7525 -0.2175 0.8285   -1348.1162    1082.9228
x3         57.9600     31.5071  1.8396 0.0700      -4.8482     120.7681
x4       -524.1450   1576.6368 -0.3324 0.7405   -3667.1130    2618.8231
x5        815.3944    832.3883  0.9796 0.3306    -843.9413    2474.7301
x6       -773.3092   1536.3334 -0.5033 0.6163   -3835.9338    2289.3154
x7        114.7205    173.3088  0.6619 0.5101    -230.7643     460.2054
x8      -5516.3354   2586.3277 -2.1329 0.0363  -10672.0855    -360.5853
x9      21560.2760   7774.2419  2.7733 0.0071    6062.6080   37057.9439
x10     -1324.7218   1373.1303 -0.9647 0.3379   -4062.0071    1412.5635
x11      4264.1001   4089.6000  1.0427 0.3006   -3888.3685   12416.5687
x12        69.8250    297.6697  0.2346 0.8152    -523.5687     663.2187
x13      3075.2422   7262.4452  0.4234 0.6732  -11402.1778   17552.6622
x14      5182.9335  10230.1581  0.5066 0.6140  -15210.5140   25576.3810
x15     -6820.7781  13109.3693 -0.5203 0.6045  -32953.8282   19312.2721
x16     -7658.8094  14041.8735 -0.5454 0.5871  -35650.7726   20333.1539
x17   -230767.6463 114117.2005 -2.0222 0.0469 -458256.1279   -3279.1648
x18   -216827.0808 152246.6232 -1.4242 0.1587 -520325.1772   86671.0155
x19   -122103.5196 438719.2796 -0.2783 0.7816 -996674.4194  752467.3801
x20    672410.7654 238386.2220  2.8207 0.0062  197196.5172 1147625.0135
x21    155306.4011 126316.3449  1.2295 0.2229  -96500.6302  407113.4325
x22    194218.9120 173491.9293  1.1195 0.2667 -151630.9280  540068.7521
x23     75921.7670 193463.5545  0.3924 0.6959 -309740.7804  461584.3143
x24     64283.3894 144587.6773  0.4446 0.6579 -223946.8775  352513.6563
x25     17360.1530 176333.7497  0.0985 0.9218 -334154.7526  368875.0586
x26     10607.7792 230686.7892  0.0460 0.9635 -449257.9303  470473.4887
x27   -145494.4793 401505.2815 -0.3624 0.7181 -945880.6296  654891.6710
x28     75724.7643 150250.0240  0.5040 0.6158 -223793.1844  375242.7130
x29     15395.8752 126308.1272  0.1219 0.9033 -236394.7744  267186.5249
x30    -71358.6280 213585.7444 -0.3341 0.7393 -497134.0278  354416.7718
x31    164113.3972 123430.6353  1.3296 0.1878  -81941.0772  410167.8716
-----------------------------------------------------------------------
Omnibus:                0.891          Durbin-Watson:             2.244
Prob(Omnibus):          0.640          Jarque-Bera (JB):          0.638
Skew:                   0.190          Prob(JB):                  0.727
Kurtosis:               3.059          Condition No.:             84116
=======================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors is
correctly specified.
[2] The condition number is large, 8.41e+04. This might indicate
that there are strong multicollinearity or other numerical
problems.
"""

In [33]:
ipl_model_1.params

array([ 3.75827199e+05, -5.37890300e+01, -1.32596723e+02,  5.79599560e+01,
       -5.24144970e+02,  8.15394424e+02, -7.73309199e+02,  1.14720547e+02,
       -5.51633540e+03,  2.15602760e+04, -1.32472178e+03,  4.26410011e+03,
        6.98250199e+01,  3.07524219e+03,  5.18293349e+03, -6.82077806e+03,
       -7.65880936e+03, -2.30767646e+05, -2.16827081e+05, -1.22103520e+05,
        6.72410765e+05,  1.55306401e+05,  1.94218912e+05,  7.59217670e+04,
        6.42833894e+04,  1.73601530e+04,  1.06077792e+04, -1.45494479e+05,
        7.57247643e+04,  1.53958752e+04, -7.13586280e+04,  1.64113397e+05])